# dependencies
node_modules/
.next/
out/
build/
dist/

# env
.env
.env.local
.env.*.local

# python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.egg

# misc
.DS_Store
*.log
learning/*  
*/learning/*
!README.md
*.md